/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
header{
  height:90px;
  background-color:#26d0c9;
}

header h1{
  float:left;
  color:#fff;
  font-size:36px;
  padding:20px 40px;
}

header li{
  color:white;
  float:left;
  padding:33px 20px;
}


.content{
  padding-left:80px;
}

.content h1{
  font-size:140px;
  padding-top:100px;
  padding-right:80px;
}

.content h2{
  font-size:60px;
}

.content span{
  color:#ff4a4a;
}

.first{
  padding:100px 0 15px 80px;
}

.first h3{
  font-size:28px;
}

.second{
  padding:50px 80px 100px 80px;
  border-top:2px solid #dee7ec;
  font-size:24px;
}


.HTML{
  float:left;
  padding-right:40px;
}

.PHP{
  float:left;
  padding-right:40px;
}

.Ruby{
  float:left;
  padding-right:40px;
}

.third{
  padding-right:80px;
  padding-left:80px;
  padding-bottom:100px;
}

.third h3{
  font-size:28px;
  border-bottom:2px solid #dee7ec;
  padding-bottom:15px;
}

.third input,textarea{
  padding:20px;
  width:400px;
  font-size:18px;
  margin-bottom: 25px;
  margin-top: 10px;
  border: 1px solid #dee7ec;
}

.third p{
  padding-bottom:10px;
}

.mail{
  padding-top:50px;
  width:400px;
}

.naiyou{
  padding-top:30px;
  width:400px;
}

.send{
  padding-top:30px;
  width:400px;
}

.submit{
  width:400px;
  font-size:18px;
  padding:20px;
  background-color: #dee7ec;
  color: #889eab;
}

footer{
  height:120px;
  color:white;
  background-color:#2f5167;
  padding:40px;
  
}

footer h1{
  float:left;
}

footer ul{
  float:right;
}

footer li{
  padding-bottom:20px;
}
